{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GESTA_Commande</title>
    <!-- Remplacez cette ligne -->
    <!-- <link rel="stylesheet" href="/assets/index-C-6_Fs3d.css"> -->
     <link rel="icon" href="{% static 'assets/logo-B17l5uIi.png' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'assets/index-DcAauw0x.css' %}">
  </head>
  <body>
    <div id="root"></div>
    <!-- Remplacez cette ligne -->
    <!-- <script type="module" src="/assets/index-DV1jK-QE.js"></script> -->
    <script type="module" src="{% static 'assets/index-CWoPZ9yW.js' %}"></script>
  </body>
</html>